@import './mobileTop';
@media(max-width:427px){

  .popup img {
    max-width: 100%;
    max-height: 100%;
  }

  

  .image_icon{
    @include tamanho(50px,50px)
  }


  
  #container_inferior{
    margin-top: 90px;
  }

 #triangulo{
   @include tamanho(200px,200px);
   position: absolute;
 }


 .item{
   display: flex;
   justify-content: center;
   align-items: center;
  @include tamanho(200px,200px);
 }


#conteudo_inferior{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}


 
 #tesoura, #pedra, #papel{
   position: relative;
   background-color: #ffffff;
   @include tamanho(120px,120px);
   border-radius: 50%;
  //  @include display();
   cursor: pointer;
 }



 .icones{
  @include tamanho(300px,250px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}


 #papel{
   border: 10px solid #4865f4;
  //  margin-bottom: 180px;
  grid-column: 1;
  grid-row: 1;
 }

 #tesoura{
   // transform: translateY(-90px) translateX(95px);
   border: 10px solid #ec9e0e;
  //  margin-bottom: 180px;
  grid-row: 1;
  grid-column: 3;
 }

 #pedra{
   border: 10px solid #dc2e4e;
  grid-column: 2;
  grid-row: 3;  
 }

 #rules{
   font-size: 15px;
   border: 2px solid #606e85;
   border-radius: 10px;
   color: #ffffff;
   position: absolute;
   transform: translateY(650px) translateX(0px);
   @include tamanho(40px,120px);
   @include display(flex,center ,center);
   cursor: pointer;
 }


}

