@mixin tamanho($altura,$largura){
  width: $largura;
  height: $altura;
}
@mixin display($display:flex, $align:center, $justify:center){
  display: $display;
  align-items: $align;
  justify-content: $justify;
}

@media(max-width:426px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
  }
  
  body{
    background: radial-gradient(circle,#1f3756,#141539);
    @include tamanho(100vh,100%);
    @include display($display:flex,$align:center,$justify:flex-start);
    gap: 30px;
    flex-direction: column;
  }
  
  .head{
    border: 2px solid #606e85;
    @include tamanho(110px,85%);
    @include display($display:flex,$align:center,$justify:space-between);
    margin-top: 50px;
    border-radius: 20px;

    .texto{
      @include tamanho(60%,100px);
      margin-left: 20px;
       #imagem{
        @include tamanho(100%,100%);
       }
      }
      .placar{
        @include tamanho(90px,90px);
        background-color: #ffffff;
        @include display($display:flex,$align:center ,$justify:center);
        flex-direction: column;
        border-radius: 20px;
        margin-right: 10px;
        #text-score{
          margin-top: 3px;
          color: #2a46c0;
        }
      
        #num-score{
          color: #3b4363;
          font-size: 35px;
          font-weight: 700;
        }
      }
  }
  
  
}