@import'./desktop-page2Bottom';
@import './desktopTop';
@import './desktop-page1Bottom';
@import './mobileTop';
@import './mobile-page1Bottom';
@import './mobile-page2Bottom';

@mixin tamanho($altura,$largura){
  width: $largura;
  height: $altura;
}
@mixin display($display:flex, $align:center, $justify:center){
  display: $display;
  align-items: $align;
  justify-content: $justify;
}


.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #949393;
  padding: 20px;
  border-radius: 5px;
  z-index: 999;
  box-shadow: 0 4px 8px #00000033;
  text-align: center;
}

.popup img {
  max-width: 100%;
  max-height: 80vh;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}
