@media (max-width: 426px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif;
  }
  body {
    background: radial-gradient(circle, #1f3756, #141539);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
  }
  .head {
    border: 2px solid #606e85;
    height: 15%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
  }
  .texto {
    height: 70px;
    width: 100px;
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    margin-left: 15px;
  }
  .texto .t {
    height: 20px;
  }
  .placar {
    height: 80%;
    width: 80px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-right: 15px;
  }
  .placar #text-score {
    margin-top: 5px;
    color: #2a46c0;
    font-size: 12px;
  }
  .placar #num-score {
    color: #3b4363;
    font-size: 40px;
    font-weight: 700;
  }
  #triangulo {
    width: 180px;
    height: 180px;
  }
}
@media (min-width: 425px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif;
  }
  body {
    background: radial-gradient(circle, #1f3756, #141539);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    flex-direction: column;
  }
  .head {
    border: 2px solid #606e85;
    width: 40%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    border-radius: 20px;
  }
  .texto {
    width: 150px;
    height: 80%;
    margin-left: 20px;
  }
  .texto #imagem {
    width: 100%;
    height: 100%;
  }
  .placar {
    width: 150px;
    height: 80%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 20px;
    margin-right: 25px;
  }
  .placar #text-score {
    margin-top: 10px;
    color: #2a46c0;
  }
  .placar #num-score {
    color: #3b4363;
    font-size: 55px;
    font-weight: 700;
  }
  .icones {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #triangulo {
    width: 250px;
    height: 250px;
    position: absolute;
  }
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #tesoura, #pedra, #papel {
    position: absolute;
    border: 18px solid #4865f4;
    background-color: #ffffff;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-90px) translateX(-95px);
    cursor: pointer;
  }
  #tesoura {
    transform: translateY(-90px) translateX(95px);
    border: 18px solid #ec9e0e;
  }
  #pedra {
    transform: translateY(90px);
    border: 18px solid #dc2e4e;
  }
  #rules {
    font-size: 15px;
    border: 2px solid #606e85;
    border-radius: 10px;
    color: #ffffff;
    position: absolute;
    transform: translateY(200px) translateX(650px);
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}/*# sourceMappingURL=index.css.map */