@import'./desktop-page2Bottom';
@import './desktopTop';
@import './desktop-page1Bottom';
@import './mobile-page1Top';

@mixin tamanho($altura,$largura){
  width: $largura;
  height: $altura;
}
@mixin display($display:flex, $align:center, $justify:center){
  display: $display;
  align-items: $align;
  justify-content: $justify;
}
