@media (max-width: 426px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif;
  }
  body {
    background: radial-gradient(circle, #1f3756, #141539);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    flex-direction: column;
  }
  .head {
    border: 2px solid #606e85;
    width: 85%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    border-radius: 20px;
  }
  .head .texto {
    width: 100px;
    height: 60%;
    margin-left: 20px;
  }
  .head .texto #imagem {
    width: 100%;
    height: 100%;
  }
  .head .placar {
    width: 90px;
    height: 90px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    margin-right: 10px;
  }
  .head .placar #text-score {
    margin-top: 3px;
    color: #2a46c0;
  }
  .head .placar #num-score {
    color: #3b4363;
    font-size: 35px;
    font-weight: 700;
  }
}
@media (min-width: 425px) {
  * {
    font-family: "Barlow Semi Condensed", sans-serif;
  }
  #conteudoNovo {
    display: flex;
    gap: 40px;
  }
  #conteudoNovo .texto_opcao {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #ffffff;
  }
  #conteudoNovo .item {
    margin: 0;
    width: 200px;
    height: 200px;
  }
  .resultado {
    width: 50px;
    height: 200px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 40px;
  }
  #button {
    grid-area: "button";
    background-color: #ffffff;
    color: #fd3e3e;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px;
  }
}
@media (max-width: 426px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif;
  }
  body {
    background: radial-gradient(circle, #1f3756, #141539);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    flex-direction: column;
  }
  .head {
    border: 2px solid #606e85;
    width: 85%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    border-radius: 20px;
  }
  .head .texto {
    width: 100px;
    height: 60%;
    margin-left: 20px;
  }
  .head .texto #imagem {
    width: 100%;
    height: 100%;
  }
  .head .placar {
    width: 90px;
    height: 90px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    margin-right: 10px;
  }
  .head .placar #text-score {
    margin-top: 3px;
    color: #2a46c0;
  }
  .head .placar #num-score {
    color: #3b4363;
    font-size: 35px;
    font-weight: 700;
  }
}
@media (min-width: 425px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif;
  }
  body {
    background: radial-gradient(circle, #1f3756, #141539);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    flex-direction: column;
  }
  .head {
    border: 2px solid #606e85;
    width: 40%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    border-radius: 20px;
  }
  .head .texto {
    width: 150px;
    height: 80%;
    margin-left: 20px;
  }
  .head .texto #imagem {
    width: 100%;
    height: 100%;
  }
  .head .placar {
    width: 150px;
    height: 80%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 20px;
    margin-right: 25px;
  }
  .head .placar #text-score {
    margin-top: 10px;
    color: #2a46c0;
  }
  .head .placar #num-score {
    color: #3b4363;
    font-size: 55px;
    font-weight: 700;
  }
}
@media (max-width: 426px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif;
  }
  body {
    background: radial-gradient(circle, #1f3756, #141539);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    flex-direction: column;
  }
  .head {
    border: 2px solid #606e85;
    width: 85%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    border-radius: 20px;
  }
  .head .texto {
    width: 100px;
    height: 60%;
    margin-left: 20px;
  }
  .head .texto #imagem {
    width: 100%;
    height: 100%;
  }
  .head .placar {
    width: 90px;
    height: 90px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    margin-right: 10px;
  }
  .head .placar #text-score {
    margin-top: 3px;
    color: #2a46c0;
  }
  .head .placar #num-score {
    color: #3b4363;
    font-size: 35px;
    font-weight: 700;
  }
}
@media (min-width: 425px) {
  .icones {
    width: 420px;
    height: 420px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #triangulo {
    width: 250px;
    height: 250px;
    position: absolute;
  }
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #tesoura, #pedra, #papel {
    position: relative;
    background-color: #ffffff;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  #papel {
    border: 18px solid #4865f4;
    grid-column: 1;
    grid-row: 1;
  }
  #tesoura {
    border: 18px solid #ec9e0e;
    grid-column: 3;
    grid-row: 1;
  }
  #pedra {
    border: 18px solid #dc2e4e;
    grid-column: 2;
    grid-row: 3;
  }
  #rules {
    font-size: 15px;
    border: 2px solid #606e85;
    border-radius: 10px;
    color: #ffffff;
    position: absolute;
    transform: translateY(600px) translateX(650px);
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  #conteudo_inferior {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
  }
  .centro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .direita, .esquerda {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
@media (max-width: 426px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif;
  }
  body {
    background: radial-gradient(circle, #1f3756, #141539);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    flex-direction: column;
  }
  .head {
    border: 2px solid #606e85;
    width: 85%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    border-radius: 20px;
  }
  .head .texto {
    width: 100px;
    height: 60%;
    margin-left: 20px;
  }
  .head .texto #imagem {
    width: 100%;
    height: 100%;
  }
  .head .placar {
    width: 90px;
    height: 90px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    margin-right: 10px;
  }
  .head .placar #text-score {
    margin-top: 3px;
    color: #2a46c0;
  }
  .head .placar #num-score {
    color: #3b4363;
    font-size: 35px;
    font-weight: 700;
  }
}
@media (max-width: 426px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif;
  }
  body {
    background: radial-gradient(circle, #1f3756, #141539);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    flex-direction: column;
  }
  .head {
    border: 2px solid #606e85;
    width: 85%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    border-radius: 20px;
  }
  .head .texto {
    width: 100px;
    height: 60%;
    margin-left: 20px;
  }
  .head .texto #imagem {
    width: 100%;
    height: 100%;
  }
  .head .placar {
    width: 90px;
    height: 90px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    margin-right: 10px;
  }
  .head .placar #text-score {
    margin-top: 3px;
    color: #2a46c0;
  }
  .head .placar #num-score {
    color: #3b4363;
    font-size: 35px;
    font-weight: 700;
  }
}
@media (max-width: 427px) {
  .popup img {
    max-width: 100%;
    max-height: 100%;
  }
  .image_icon {
    width: 50px;
    height: 50px;
  }
  #container_inferior {
    margin-top: 90px;
  }
  #triangulo {
    width: 200px;
    height: 200px;
    position: absolute;
  }
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
  }
  #conteudo_inferior {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  #tesoura, #pedra, #papel {
    position: relative;
    background-color: #ffffff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;
  }
  .icones {
    width: 250px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  #papel {
    border: 10px solid #4865f4;
    grid-column: 1;
    grid-row: 1;
  }
  #tesoura {
    border: 10px solid #ec9e0e;
    grid-row: 1;
    grid-column: 3;
  }
  #pedra {
    border: 10px solid #dc2e4e;
    grid-column: 2;
    grid-row: 3;
  }
  #rules {
    font-size: 15px;
    border: 2px solid #606e85;
    border-radius: 10px;
    color: #ffffff;
    position: absolute;
    transform: translateY(650px) translateX(0px);
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
@media (max-width: 426px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif;
  }
  body {
    background: radial-gradient(circle, #1f3756, #141539);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    flex-direction: column;
  }
  .head {
    border: 2px solid #606e85;
    width: 85%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    border-radius: 20px;
  }
  .head .texto {
    width: 100px;
    height: 60%;
    margin-left: 20px;
  }
  .head .texto #imagem {
    width: 100%;
    height: 100%;
  }
  .head .placar {
    width: 90px;
    height: 90px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    margin-right: 10px;
  }
  .head .placar #text-score {
    margin-top: 3px;
    color: #2a46c0;
  }
  .head .placar #num-score {
    color: #3b4363;
    font-size: 35px;
    font-weight: 700;
  }
}
@media (max-width: 426px) {
  * {
    font-family: "Barlow Semi Condensed", sans-serif;
  }
  #conteudo_inferior {
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #container_inferior {
    margin-top: 0;
  }
  #conteudoNovo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .centro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    grid-column: 1/span 2;
  }
  .direita, .esquerda {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    grid-row: 1;
  }
  .esquerda {
    grid-column: 2;
  }
  #conteudoNovo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  #conteudoNovo .texto_opcao {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: #ffffff;
  }
  #conteudoNovo .item {
    margin: 0;
    width: 100px;
    height: 100px;
  }
  .resultado {
    width: 200px;
    height: 40px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 40px;
    font-weight: 700;
  }
  #button {
    background-color: #ffffff;
    color: #fd3e3e;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px;
  }
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  z-index: 999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.popup img {
  max-width: 600px;
  max-height: 80vh;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */